body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
* {
  box-sizing: border-box;
  position: relative;
}
header {
  background-color: #21b081;
  margin-bottom: 1rem;
}
header .container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .container .logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container .logo a {
  margin-left: 25px;
  width: fit-content;
  text-decoration: none;
  text-align: left;
}
header .container .logo a h1 {
  color: #222222;
  top: -5px;
  font-weight: bold;
  padding: 0;
  font-size: 0.7rem;
}
header .container .logo a h1 p {
  top: 5px;
  color: white;
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}
header .container .logo img {
  height: 90px;
}
header .container nav {
  width: 100%;
}
header .container nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header .container nav ul li {
  text-align: center;
  margin: 0.3rem 0;
}
header .container nav ul li:last-child {
  margin-bottom: 0.6rem;
}
header .container nav ul li a {
  color: white;
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  text-decoration: none;
}
.horizontal-line {
  height: 1px;
  width: 100%;
  display: none;
  background: #f2f2f2;
}
.horizontal-line-green-2x {
  width: 100%;
  background: #1d9d73;
  display: none;
  height: 2px;
}
.horizontal-line-green-1x {
  width: 100%;
  background: #1d9d73;
  height: 1px;
}
.news-info {
  display: none;
  min-width: 350px;
  margin-top: 25px;
  padding: 25px;
  background-color: #1d9d73;
  color: white;
}
.news-info i {
  position: absolute;
  font-size: 64px;
  top: 30px;
}
.news-info ul {
  list-style-type: none;
  padding: 0 0 0 60px;
  margin: 0;
}
.news-info ul li {
  padding: 0;
  margin-bottom: 25px;
}
main h3 {
  color: #1d9d73;
  margin: 0 0 0.5rem 0;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
}
main .news {
  padding: 25px 0 25px 0;
  display: none;
}
main .news-content {
  width: 70%;
  padding-right: 25px;
}
main .news-content ul {
  list-style-type: none;
  padding: 0;
}
main .news-content ul li {
  margin-bottom: 25px;
}
main .news-content ul li a {
  font-size: 18px;
  color: #198562;
}
main .news-content ul li span {
  margin-left: 25px;
  color: #222222;
  font-size: 10px;
}
main .news-content ul li p {
  margin: 0;
}
main .news .right-block {
  width: 30%;
  min-width: 400px;
}
main .info {
  height: 350px;
}
main .sale h4 {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: normal;
}
main .sale i {
  color: white;
  margin-bottom: 25px;
  font-size: 4rem;
}
main .sale .sale-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  height: 33vh;
  background-color: #1d9d73;
}
main .sale .sale-item:first-child {
  background-color: #21b081;
}
main .sale .sale-item:last-child {
  background-color: #198562;
}
main .promo {
  display: none;
}
main .promo .slider {
  overflow: hidden;
  height: 300px;
  width: 100%;
  min-width: 100%;
}
main .promo .slider .slider-item {
  position: absolute;
  width: 100%;
}
main .article-list {
  width: 100%;
  display: flex;
}
main .article-list .right-block {
  display: none;
  width: 350px;
}
main .article-list .content {
  flex-grow: 1;
}
main .article-list .pages-nav {
  font-weight: bold;
  color: #1d9d73;
  width: 100%;
  text-align: center;
}
main .article-list .pages-nav a {
  color: #1d9d73;
  margin-right: 5px;
  text-decoration: none;
}
main .article-list .pages-nav a:after {
  content: ',';
}
main .article-list .pages-nav a:last-child:after {
  content: '';
}
main .article-list__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
main .article-list__item {
  padding: 0 25px;
  display: flex;
  margin-bottom: 25px;
}
main .article-list__item__content {
  height: 100%;
  margin-left: 12.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #222222;
}
main .article-list__item__content h5 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: #222222;
  display: inline-block;
}
main .article-list__item__content h5 span {
  margin-left: 5px;
  font-size: 0.6rem;
}
main .article-list__item__content p {
  margin: 0;
  padding: 0;
}
main .article-list__item__content p a {
  color: #21b081;
}
main .article-list__image img {
  width: 120px;
}
main .article {
  padding: 0 25px;
}
main .article a {
  color: #198562;
}
main .article h3 {
  font-size: 2rem;
  color: #222222;
  text-align: center;
  padding: 0;
  margin: 0;
}
main .article h3:after {
  display: none;
}
main .article h5 {
  font-size: 1rem;
  color: #222222;
}
main .article h5 a {
  color: #21b081;
}
main .article p {
  font-size: 1rem;
}
main .services {
  width: 100%;
}
main .services .service-items {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .services .service-items .service-item {
  width: 100%;
}
main .services .service-items .service-item__image {
  height: 30vh;
  overflow: hidden;
}
main .services .service-items .service-item__image img {
  top: -30%;
  width: 100%;
}
main .services .service-items .service-item__content {
  text-align: center;
}
main .services .service-items .service-item__content p {
  margin: 0 0 1.5rem 0;
}
main .services .service-items .service-item__content a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #1d9d73;
}
footer {
  width: 100%;
  min-width: 100%;
  background-color: #198562;
  margin-top: 25px;
}
footer .container div {
  padding: 0 25px;
  width: 100%;
}
footer .container .title {
  display: none;
}
footer .container .content {
  font-size: 1rem;
  color: white;
  text-align: left;
}
/*# sourceMappingURL=style_mobile.css.map */