body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
* {
  box-sizing: border-box;
  position: relative;
}
.container {
  margin: auto;
  height: 100%;
  width: 1200px;
}
header {
  height: 130px;
}
header .container {
  padding: 0 25px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container a {
  text-decoration: none;
}
header .container h1 {
  color: #222222;
  top: -5px;
  font-weight: bold;
  margin: 0 0 0 20px;
  padding: 0;
  font-size: 19px;
}
header .container h1 p {
  top: 5px;
  color: #198562;
  font-weight: normal;
  left: -2px;
  margin: 0;
  padding: 0;
  font-size: 22px;
}
header .container nav {
  flex-grow: 1;
}
header .container nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header .container nav ul li a {
  color: #222222;
  padding: 0;
  margin: 0 0 0 25px;
  font-size: 17px;
  text-decoration: none;
}
header .container nav ul li a:hover {
  color: #1d9d73;
}
.horizontal-line {
  height: 1px;
  width: 100%;
  min-width: 1200px;
  background: #f2f2f2;
}
.horizontal-line-green-2x {
  width: 100%;
  min-width: 1200px;
  background: #1d9d73;
  height: 2px;
}
.horizontal-line-green-1x {
  width: 100%;
  min-width: 1200px;
  background: #1d9d73;
  height: 1px;
}
.news-info {
  min-width: 350px;
  margin-top: 25px;
  padding: 25px;
  background-color: #1d9d73;
  color: white;
}
.news-info i {
  position: absolute;
  font-size: 64px;
  top: 30px;
}
.news-info ul {
  list-style-type: none;
  padding: 0 0 0 60px;
  margin: 0;
}
.news-info ul li {
  padding: 0;
  margin-bottom: 25px;
}
main {
  flex-grow: 1;
}
main h3 {
  color: #1d9d73;
  margin: 0 0 25px 0;
  padding: 0;
  text-align: center;
  font-size: 24px;
}
main h3:after {
  content: '';
  height: 1px;
  width: 100px;
  background-color: #1d9d73;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
}
main .news {
  padding: 25px 0 25px 0;
}
main .news .container {
  display: flex;
}
main .news-content {
  width: 70%;
  padding-right: 25px;
}
main .news-content ul {
  list-style-type: none;
  padding: 0;
}
main .news-content ul li {
  margin-bottom: 25px;
}
main .news-content ul li a {
  font-size: 18px;
  color: #198562;
}
main .news-content ul li span {
  margin-left: 25px;
  color: #222222;
  font-size: 10px;
}
main .news-content ul li p {
  margin: 0;
}
main .news .right-block {
  width: 30%;
  min-width: 400px;
}
main .info {
  height: 350px;
}
main .sale {
  background-color: #f6f8fa;
}
main .sale .container {
  display: flex;
}
main .sale .container h4 {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
}
main .sale .container i {
  color: white;
  margin-bottom: 25px;
  font-size: 64px;
}
main .sale .container .sale-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 30vw;
  max-height: 40vh;
  background-color: #1d9d73;
}
main .sale .container .sale-item:first-child {
  flex-grow: 0;
  width: 33.33%;
  background-color: #21b081;
}
main .sale .container .sale-item:last-child {
  flex-grow: 0;
  width: 33.33%;
  background-color: #198562;
}
main .promo .slider {
  overflow: hidden;
  height: 300px;
  width: 100%;
  min-width: 1200px;
}
main .promo .slider .slider-item {
  position: absolute;
  width: 100%;
}
main .article-list {
  padding: 25px 0 25px 0;
}
main .article-list .container {
  width: 90%;
  max-width: 1200px;
  display: flex;
}
main .article-list .container .right-block {
  width: 30%;
}
main .article-list .container .content {
  flex-grow: 1;
}
main .article-list .pages-nav {
  font-weight: bold;
  color: #1d9d73;
  width: 100%;
  text-align: center;
}
main .article-list .pages-nav a {
  color: #1d9d73;
  margin-right: 5px;
  text-decoration: none;
}
main .article-list .pages-nav a:after {
  content: ',';
}
main .article-list .pages-nav a:last-child:after {
  content: '';
}
main .article-list__item {
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-start;
}
main .article-list__content {
  height: 100%;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #222222;
}
main .article-list__content h5 {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #222222;
  display: inline-block;
}
main .article-list__content h5 span {
  margin-left: 5px;
  font-size: 11px;
}
main .article-list__content p {
  margin: 0;
  padding: 0;
}
main .article-list__content p a {
  color: #21b081;
}
main .article-list__image {
  height: 75px;
  overflow: hidden;
  width: 120px;
}
main .article-list__image img {
  max-width: 120px;
}
main .article .container {
  padding: 25px 0 25px 0;
  width: 90%;
  max-width: 1200px;
  text-align: justify;
}
main .article a {
  color: #198562;
}
main .article h3 {
  font-size: 24px;
  color: #222222;
  text-align: center;
  padding: 0;
  margin: 0;
}
main .article h3:after {
  display: none;
}
main .article h5 {
  font-size: 14px;
  color: #222222;
}
main .article h5 a {
  color: #21b081;
}
main .services {
  min-width: 1200px;
  padding: 25px 0 25px 0;
}
main .services .service-items {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
main .services .service-items .service-item {
  width: 30%;
  margin-bottom: 10px;
}
main .services .service-items .service-item__image {
  height: 275px;
  overflow: hidden;
}
main .services .service-items .service-item__image img {
  width: 100%;
  transition: transform 0.2s;
}
main .services .service-items .service-item__image img:hover {
  transform: scale(1.1);
}
main .services .service-items .service-item__content {
  text-align: center;
}
main .services .service-items .service-item__content a {
  font-size: 18px;
  text-decoration: none;
  color: #1d9d73;
}
main .services .service-items .service-item__content i {
  font-size: 20px;
  margin-top: 5px;
  color: #1d9d73;
}
main .services .service-items .service-item__content p {
  font-size: 16px;
  margin: 5px 0 0 0;
  padding: 0;
}
footer {
  width: 100%;
  min-width: 1200px;
  height: 250px;
  background-color: #198562;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container div {
  padding: 0 25px;
  width: 50%;
}
footer .container .title h3 {
  color: white;
  font-size: 20px;
  top: -5px;
  margin: 0;
  padding: 0;
}
footer .container .title h3 p {
  top: 5px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: black;
}
footer .container .content {
  font-size: 15px;
  color: white;
  text-align: right;
}
/*# sourceMappingURL=style.css.map */