@main-background: #1e283a;
@gray-background: #e1e2e4;
@main-font: arial, helvetica, sans-serif;
@vendor-font: 'Oswald', sans-serif;

@grey-color: #9F9F9F;
@dark-grey-color: #5e5e5e;
@red-color: #e4012e;
@light-blue-color: #42637d;

body {
  margin: 0;
  font-family: @main-font;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  position: relative;
}

.container {
  margin: auto;
  height: 100%;
  width: 1200px;
  & h3 {
    position: relative;
    color: @main-background;
    text-align: center;
    font-size: 24px;
    &:after {
      position: absolute;
      bottom: -5px;
      left: 50%;
      content: '';
      margin-left: -50px;
      width: 100px;
      background-color: @main-background;
      height: 1px;
    }
  }
}

.part {
  position: relative;
  width: 100%;
  min-width: 1200px;
}

//
.top-menu {
  height: 35px;
  background-color: @main-background;
  & .container {
    position: relative;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  & p {
    color: @grey-color;
    font-size: 12px;
    margin: 0;
  }
  & img {
    margin-right: 10px;
  }
}

.header {
  height: 135px;
  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  & .logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: @vendor-font;
    color: @main-background;
    & img {
      position: relative;
      top: -6px;
      float: left;
      margin-right: 10px;
    }
    & p {
      margin: 0;
    }
    &__title {
      font-weight: 600;
      font-size: 24px;
    }
  }

  & .header-menu {
    position: relative;
    font-family: @vendor-font;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    & ul {
      list-style-type: none;
      display: flex;
      & .menu-item {
        display: block;
        border-right: 1px solid @grey-color;
        padding: 0 20px;
        line-height: 40px;
        font-size: 16px;
        color: @grey-color;
        & a {
          text-decoration: none;
          color: @grey-color;
        }
        &:hover {
          background-color: @red-color;
          & a {
            color: white;
          }
        }
        & .sub-menu-element {
          position: absolute;
          left: 0;
          top: 0;
          display: none;
          min-width: 250px;
          text-align: left;
          background-color: @gray-background;
          color: @main-background;
          padding: 5px 10px 10px 10px;
          z-index: 999;
          & ul {
            list-style-type: none;
            flex-direction: column;
            padding: 0;
            margin: 0;
            & li {
              line-height: 30px;
              width: 100%;
              border-bottom: 1px solid @grey-color;
              margin: 0;
              &:last-child {
                border: 0;
              }
              & a {
                color: @main-background;
              }
            }
          }
        }
      }
    }
  }
}

.line {
  height: 2px;
  background-color: #efeff1;
}

.content {
  flex-grow: 1;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  & .container {
    position: relative;
    display: flex;
    & .article {
      color: @dark-grey-color;
      padding-right: 25px;
     & .category-title {
       & a{
         color: @dark-grey-color;
       }
     }
      & img {
        margin: 5px;
      }
      & p {
        text-indent: 10px;
        font-size: 13px;
        text-align: justify;

      }

      & h4 {
        color: @main-background;
        font-weight: 600;
      }
      & strong {
      }
      & td {
        padding: 5px;
      }
    }
  }
}

& .right-column {
  background-color: @gray-background;
  padding: 0 10px 10px 10px;
  & h3 {
    color: @main-background;
    margin: 10px 0 10px 0;
    text-align: center;
    padding: 0;
  }
  & ul {
    list-style-type: none;
    padding: 0;
    & li {
      margin-bottom: 15px;
      border-bottom: 1px solid @grey-color;
      & a {
        text-decoration: none;
        color: @main-background;
        font-size: 13px;
        font-weight: 600;
      }
      & p {
        margin: 0;
        font-size: 12px;
        text-align: right;
      }
    }
  }
}

.promo {
  position: relative;
  overflow: hidden;
  height: 400px;
  & .slider-item {
    position: absolute;
    width: 100%;
    height: 400px;
    & img {
      position: relative;
      min-width: 100%;
      min-height: 400px;
    }
    & .promo-text {
      position: absolute;
      left: 50%;
      margin-left: -600px;
      bottom: 0;
      height: 200px;
      width: 1200px;
      background-color: rgba(255, 255, 255, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      & p {
        margin: 0;
        font-family: @vendor-font;
        color: @main-background;
        font-weight: 600;
        font-size: 36px;
      }
    }
  }
  & .slider-control {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    & .control {
      color: @main-background;
      cursor: pointer;
      margin: 5px;
      &:hover {
        color: @red-color;
      }
    }
  }
}

.areas {
  background-color: @gray-background;
  padding: 10px 0 50px 0;
  & .container {
    & .show-all-articles {
      background-color: @red-color;
      color: white;
      padding: 20px;
      width: 200px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      margin: 25px auto 0 auto;
    }
    & .news-items {
      display: flex;
      justify-content: space-between;
      & .area-item {
        position: relative;
        font-family: @vendor-font;
        height: 350px;
        background-color: @main-background;
        color: white;
        width: 30%;
        &__content {
          padding: 10px;
          text-align: center;
        }
        &__title {
          margin: 20px 0 0 0;
          font-size: 24px;
          font-weight: 600;
        }
        &__description {
          margin: 0 0 10px 0;
          & a {
            color: white;
            text-decoration: none;
          }
        }
        &__image {
          position: absolute;
          height: 175px;
          left: 0;
          bottom: 0;
          overflow: hidden;
          & img {
            max-width: 100%;
            min-height: 175px;
          }
        }
      }
    }
  }
}

.footer {
  height: 270px;
  background-color: @main-background;
  padding-top: 20px;
  & .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: @vendor-font;
    color: black;
    & div {
      color: white;
      position: relative;
      width: 40%;
    }
    & .logo {
      & p {
        margin: 0;
        font-size: 16px;
      }
      & .title {
        font-weight: 600;
        font-size: 24px;
      }
    }

    & .contact {
      font-size: 14px;
      & p {
        margin: 0;
      }
      & strong {
        font-weight: 600;
        margin: 10px 0 0 0;
        font-size: 16px;
      }
      & strong:first-child {
        margin: 0;
      }
    }

  }
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}
