body {
  margin: 0;
  font-family: arial, helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
* {
  box-sizing: border-box;
  position: relative;
}
.container {
  margin: auto;
  height: 100%;
  width: 1200px;
}
.container h3 {
  position: relative;
  color: #1e283a;
  text-align: center;
  font-size: 24px;
}
.container h3:after {
  position: absolute;
  bottom: -5px;
  left: 50%;
  content: '';
  margin-left: -50px;
  width: 100px;
  background-color: #1e283a;
  height: 1px;
}
.part {
  position: relative;
  width: 100%;
  min-width: 1200px;
}
.top-menu {
  height: 35px;
  background-color: #1e283a;
}
.top-menu .container {
  position: relative;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-menu p {
  color: #9F9F9F;
  font-size: 12px;
  margin: 0;
}
.top-menu img {
  margin-right: 10px;
}
.header {
  height: 135px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Oswald', sans-serif;
  color: #1e283a;
}
.header .logo img {
  position: relative;
  top: -6px;
  float: left;
  margin-right: 10px;
}
.header .logo p {
  margin: 0;
}
.header .logo__title {
  font-weight: 600;
  font-size: 24px;
}
.header .header-menu {
  position: relative;
  font-family: 'Oswald', sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .header-menu ul {
  list-style-type: none;
  display: flex;
}
.header .header-menu ul .menu-item {
  display: block;
  border-right: 1px solid #9F9F9F;
  padding: 0 20px;
  line-height: 40px;
  font-size: 16px;
  color: #9F9F9F;
}
.header .header-menu ul .menu-item a {
  text-decoration: none;
  color: #9F9F9F;
}
.header .header-menu ul .menu-item:hover {
  background-color: #e4012e;
}
.header .header-menu ul .menu-item:hover a {
  color: white;
}
.header .header-menu ul .menu-item .sub-menu-element {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  min-width: 250px;
  text-align: left;
  background-color: #e1e2e4;
  color: #1e283a;
  padding: 5px 10px 10px 10px;
  z-index: 999;
}
.header .header-menu ul .menu-item .sub-menu-element ul {
  list-style-type: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.header .header-menu ul .menu-item .sub-menu-element ul li {
  line-height: 30px;
  width: 100%;
  border-bottom: 1px solid #9F9F9F;
  margin: 0;
}
.header .header-menu ul .menu-item .sub-menu-element ul li:last-child {
  border: 0;
}
.header .header-menu ul .menu-item .sub-menu-element ul li a {
  color: #1e283a;
}
.line {
  height: 2px;
  background-color: #efeff1;
}
.content {
  flex-grow: 1;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}
.content .container {
  position: relative;
  display: flex;
}
.content .container .article {
  color: #5e5e5e;
  padding-right: 25px;
}
.content .container .article .category-title a {
  color: #5e5e5e;
}
.content .container .article img {
  margin: 5px;
}
.content .container .article p {
  text-indent: 10px;
  font-size: 13px;
  text-align: justify;
}
.content .container .article h4 {
  color: #1e283a;
  font-weight: 600;
}
.content .container .article td {
  padding: 5px;
}
.right-column {
  background-color: #e1e2e4;
  padding: 0 10px 10px 10px;
}
.right-column h3 {
  color: #1e283a;
  margin: 10px 0 10px 0;
  text-align: center;
  padding: 0;
}
.right-column ul {
  list-style-type: none;
  padding: 0;
}
.right-column ul li {
  margin-bottom: 15px;
  border-bottom: 1px solid #9F9F9F;
}
.right-column ul li a {
  text-decoration: none;
  color: #1e283a;
  font-size: 13px;
  font-weight: 600;
}
.right-column ul li p {
  margin: 0;
  font-size: 12px;
  text-align: right;
}
.promo {
  position: relative;
  overflow: hidden;
  height: 400px;
}
.promo .slider-item {
  position: absolute;
  width: 100%;
  height: 400px;
}
.promo .slider-item img {
  position: relative;
  min-width: 100%;
  min-height: 400px;
}
.promo .slider-item .promo-text {
  position: absolute;
  left: 50%;
  margin-left: -600px;
  bottom: 0;
  height: 200px;
  width: 1200px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.promo .slider-item .promo-text p {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  color: #1e283a;
  font-weight: 600;
  font-size: 36px;
}
.promo .slider-control {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}
.promo .slider-control .control {
  color: #1e283a;
  cursor: pointer;
  margin: 5px;
}
.promo .slider-control .control:hover {
  color: #e4012e;
}
.areas {
  background-color: #e1e2e4;
  padding: 10px 0 50px 0;
}
.areas .container .show-all-articles {
  background-color: #e4012e;
  color: white;
  padding: 20px;
  width: 200px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin: 25px auto 0 auto;
}
.areas .container .news-items {
  display: flex;
  justify-content: space-between;
}
.areas .container .news-items .area-item {
  position: relative;
  font-family: 'Oswald', sans-serif;
  height: 350px;
  background-color: #1e283a;
  color: white;
  width: 30%;
}
.areas .container .news-items .area-item__content {
  padding: 10px;
  text-align: center;
}
.areas .container .news-items .area-item__title {
  margin: 20px 0 0 0;
  font-size: 24px;
  font-weight: 600;
}
.areas .container .news-items .area-item__description {
  margin: 0 0 10px 0;
}
.areas .container .news-items .area-item__description a {
  color: white;
  text-decoration: none;
}
.areas .container .news-items .area-item__image {
  position: absolute;
  height: 175px;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.areas .container .news-items .area-item__image img {
  max-width: 100%;
  min-height: 175px;
}
.footer {
  height: 270px;
  background-color: #1e283a;
  padding-top: 20px;
}
.footer .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Oswald', sans-serif;
  color: black;
}
.footer .container div {
  color: white;
  position: relative;
  width: 40%;
}
.footer .container .logo p {
  margin: 0;
  font-size: 16px;
}
.footer .container .logo .title {
  font-weight: 600;
  font-size: 24px;
}
.footer .container .contact {
  font-size: 14px;
}
.footer .container .contact p {
  margin: 0;
}
.footer .container .contact strong {
  font-weight: 600;
  margin: 10px 0 0 0;
  font-size: 16px;
}
.footer .container .contact strong:first-child {
  margin: 0;
}
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
/*# sourceMappingURL=style.css.map */