html, body {
    margin: 0;
    padding: 0;
}

section {
    display: none;
}

button {
    cursor: pointer;
}

#article-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 20px;
    position: relative;
}

.gallery__img {
    max-width: 150px;
    max-height: 150px;
}

.gallery__text {

}

.gallery__delete {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear;
}

.gallery__edit {
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear;
}

.gallery__item:hover > .gallery__delete {
    visibility: visible;
    opacity: 1;
}

.gallery__item:hover > .gallery__edit {
    visibility: visible;
    opacity: 1;
}

.icon-file-configurator {
    /*float: left;*/
    display: inline-block;
    max-width: 25px;
    max-height: 25px;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}